@model Products

@section Styles{
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.1.0-beta.1/css/select2.min.css" rel="stylesheet" />
}

<div class="page-content">
    <div class="container-fluid">



        <div class="row">
            <div class="col-lg-12">
                <div class="card job-filter">
                    <div class="card-body p-3">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card job-filter">
                                    <div class="card-body p-3">
                                        <form class="row" method="post" asp-area="Admin" asp-controller="Products" asp-action="Create" enctype="multipart/form-data">
                                            @Html.AntiForgeryToken()
                                            <div class="col-md-3">
                                                <label>Title</label>
                                                <input asp-for="Title" type="text" class="form-control" />
                                                <span asp-validation-for="Title" class="text-danger mt-5"></span>
                                            </div>
                                            <div class="col-md-2">
                                                <label>Description</label>
                                                <input asp-for="Description" type="text" class="form-control" />
                                                <span asp-validation-for="Description" class="text-danger mt-5"></span>
                                            </div>
                                            <div class="col-md-2">
                                                <label>StockQuantity</label>
                                                <input asp-for="StockQuantity" type="text" class="form-control" />
                                                <span asp-validation-for="StockQuantity" class="text-danger mt-5"></span>
                                            </div>
                                            <div class="col-md-2">
                                                <label>Price</label>
                                                <input asp-for="Price" type="text" class="form-control" />
                                                <span asp-validation-for="Price" class="text-danger mt-5"></span>
                                            </div>
                                            <div class="col-md-3">
                                                <label>Elave sekil</label>
                                                <input asp-for="ImagesFiles" type="file" class="form-control" multiple />
                                            </div>
                                            <div class="col-md-3">
                                                <label>Esas sekil</label>
                                                <input type="file" asp-for="file" class="form-control" />
                                                <span asp-validation-for="ImgUrlBase" class="text-danger mt-5"></span>
                                            </div>
                                            <div class="col-md-3">
                                                <button type="submit" class="btn btn-danger mt-3 btn-block">Add database</button>
                                            </div>
                                            <div class="col-md-3">
                                                <label>Category</label>
                                                <select class="form-select" asp-for="CategoryId">
                                                    @foreach(var item in ViewBag.Category)
                                                    {
                                                        <option value="@item.Id">@item.Name</option>
                                                    }
                                                </select>
                                            </div>
                                            <div class="col-md-3">
                                                <label>Colors</label>
                                                <select class="form-select js-example-basic-multiple" asp-for="ColorsId" multiple>
                                                    @foreach (var c in ViewBag.Color)
                                                    {
                                                        <option value="@c.Id">@c.Name</option>
                                                    }
                                                </select>
                                            </div>
                                            <div class="col-md-3">
                                                <label>Size</label>
                                                <select class="form-select js-example-basic-multiple" asp-for="SizesId" multiple>
                                                    @foreach (var s in ViewBag.Size)
                                                    {
                                                        <option value="@s.Id">@s.Name</option>
                                                    }
                                                </select>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <!--end col-->
                        </div>
                    </div>
                </div>
            </div>
            <!--end col-->
        </div>
    </div> <!-- container-fluid -->
</div>
@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.1.0-beta.1/js/select2.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.js-example-basic-multiple').select2();
        });
    </script>
}

