@model TwoModels

<div class="container container-240">

    <div class="checkout wishlist">
        <ul class="breadcrumb v3">
            <li><a href="#">Home</a></li>
            <li class="active">Wishlist</li>
        </ul>

        <div class="shopping-cart v2 bd-7">
            <div class="cmt-title text-center abs">
                <h1 class="page-title v4">Wishlist</h1>
            </div>
            <div class="table-responsive">
                <table class="table cart-table">

                    <tbody>
                        @foreach (var item in Model.CartModel.CartItems)
                        {
                            <tr class="item_cart">
                                <td class="product-name flex align-center">
                                    <a href="#" class="remove-cart x-remove" data-product-id="@item.ProductId"><i class="ion-ios-close-empty"></i></a>
                                    <div class="product-img">
                                        <img width="100px" height="100px" src="~/UploadProducts/@item.ImageUrlBase" alt="Futurelife">
                                    </div>
                                    <div class="product-info">
                                        <a href="#" title="">@item.ProductName </a>
                                    </div>
                                </td>

                                <td class="total-price">
                                    <p class="price">@item.Price</p>
                                </td>
                                <td class="w-status">
                                    <p>In stock</p>
                                </td>
                                <td class="w-button">
                                    <a onclick="addToCart(@item.ProductId)" class="btn-addcart btn-gradient">Add to cart</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section  Scripts{
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        function addToCart(productId) {
            $.ajax({
                url: '@Url.Action("AddToCart", "Cart")',
                type: 'POST',
                data: { id: productId },
                success: function (response) {
                    window.location.href = '@Url.Action("Index", "Cart")';
                },
                error: function () {
                    alert('Ürün sepete eklenemedi.');
                }
            });
        }
    </script>
}